@using SportStore.ViewModels.Role
@model CreateRoleViewModel

@{
    ViewData["Title"] = "Create Role";
}

<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4">Create a New Role</h2>

                <form asp-action="CreateRole" asp-controller="Administration" method="post">
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>

                    <div class="form-group mb-3">
                        <label asp-for="RoleName">Role Name</label>
                        <input asp-for="RoleName" class="form-control" placeholder="Enter role name" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>

                    

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Create Role</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

