@model int?

@if (Model.HasValue && Model.Value > 0)
{
    @* We put the positioning and the styling all in this one span *@
    <span class="position-absolute top-0 start-100 translate-middle cart-badge">
        @Model
    </span>
}