html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.cart-badge {
    font-size: 12px;
    padding: 5px 8px; /* Adjust padding as needed */
}

#sidebar {
    overflow-y: auto; /* Enable scrolling for long sidebars */
}

.imageThumbnail{
    height:200px;
        width:200px;
}
footer {
    /* Existing footer styles... */
    position: sticky; /* Make footer stick to the bottom */
    bottom: 0; /* Position it at the absolute bottom */
    width: 100%; /* Set width to 100% */
}
