@model IEnumerable<Category>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" 
       asp-action="Index"
       asp-controller="Home"
       asp-route-categoryId="">
        Home
    </a>
    @foreach (var category in Model)
    {
        <a class="btn @(category.CategoryId == (long?)ViewBag.SelectedCategoryId
                              ? "btn-primary"
                              : "btn-outline-secondary")"
           asp-action="Index"
           asp-controller="Home"
           asp-route-categoryId="@category.CategoryId"
           asp-route-productPage="1">
            @category.Name
        </a>
    }

</div>