
<h1>Product not found</h1>
<div class="alert alert-danger">
    <h3>The product you requested for could not be found, click <a asp-action="ManageProducts">here</a> to see the list of all available products</h3>
</div>