@model Cart;

@{
    ViewData["Title"] = "Shopping Details";
}

@if (Model.CartItems.Any())
{
    <div class="container mt-5">
        <h2 class="mb-4">Shopping Cart</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var item in Model.CartItems)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@item?.Product?.Name</h5>
                            <p class="card-text">Price: @item?.Product?.Price.ToString("c")</p>
                            <p class="card-text">Quantity: @item?.Quantity</p>
                            <p class="card-text">Subtotal: @item?.Subtotal.ToString("c")</p>
                            <form method="post" asp-action="RemoveFromCart" asp-controller="Cart">
                                <input hidden name="productId" value="@item?.Product?.ProductID" />
                                <input hidden name="returnUrl" value="@ViewContext.HttpContext.Request.Path" />
                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-end mt-3">
            <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Home")">&larr; Continue Shopping</a>
            <a class="btn btn-success" asp-action="Checkout" asp-controller="Order">Checkout (@Model?.Total.ToString("c"))</a>
        </div>
    </div>
}
else
{
    <div class="container mt-5">
        <h3>You have not added any items to your cart yet!</h3>
        <div class="text-center">
            <a class="btn btn-outline-success" asp-controller="home" asp-action="index">Start Shopping</a>
        </div>
    </div>
}
