@model CartViewModel;

@{
    ViewData["Title"] = "Shopping Details";
}

@if (Model.CartItems.Any())
{
    <table>
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item?.Quantity</td>
                    <td>@item?.Product?.Name</td>
                    <td>@item?.Product?.Price</td>
                    <td>@item?.Subtotal</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a class="btn btn-outline-success" asp-action="index" asp-controller="home">&larr; Continue Shopping</a>
        <a class="btn btn-success" href="#">CHECKOUT (@Model?.Total.ToString("c"))</a>
    </div>
}
else
{
    <h3>You have not added any items to your cart yet!</h3>
    <div>
        <a class="btn btn-outline-success" asp-controller="home" asp-action="index">Start Shopping</a>
    </div>
}
