@model Cart;

@{
    ViewData["Title"] = "Shopping Details";
}

@if (Model.CartItems.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item?.Quantity</td>
                    <td>@item?.Product?.Name</td>
                    <td>@item?.Product?.Price.ToString("c")</td>
                    <td>@item?.Subtotal.ToString("c")</td>
                    <td>
                        <form method="post" asp-action="RemoveFromCart" asp-controller="Cart">
                            <input hidden name="productId" value="@item?.Product?.ProductID"/>
                            <input hidden name="returnUrl" value="@ViewContext.HttpContext.Request.Path"/>
                            <button type="submit" class="btn btn-danger">
                                Remove Item
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a class="btn btn-outline-success m-1" >&larr; Continue Shopping</a>
        <a class="btn btn-success" asp-action="Checkout" asp-controller="Order">CHECKOUT (@Model?.Total.ToString("c"))</a>
    </div>
}
else
{
    <h3>You have not added any items to your cart yet!</h3>
    <div>
        <a class="btn btn-outline-success" asp-controller="home" asp-action="index">Start Shopping</a>
    </div>
}
