@using SportStore.ViewModels.Auth
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_SignInUp.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4">Welcome Back!</h2>
                <p class="lead text-center mb-4">Please Sign In To Continue</p>

                <form asp-action="Login" asp-controller="Account" method="post">
                    <div asp-validation-summary="All" class="text-danger mb-3"></div>

                    @if (ViewData["ShowResendLink"] as bool? == true)
                    {
                        <div class="alert alert-warning text-center">
                            Didn't receive an email?
                            <a asp-action="ResendConfirmationLink" class="alert-link">
                                Resend confirmation link
                            </a>
                        </div>
                    }

                    <input asp-for="ReturnUrl" hidden/>

                    <div class="form-group mb-3">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email"  class="form-control" placeholder="Enter your email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="text-end mb-3">
                        <a asp-action="ForgotPassword" class="small">Forgot password?</a>
                    </div>

                    <div class="form-group mb-3">
                        <div class="checkbox">
                            <input asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>

                    <div>
                        <p>Don't have an account? <a asp-action="Register">Sign Up</a></p>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}