
@{
    ViewData["Title"] = "Register";
}
<div>
    <h1>Registration Successful</h1>
</div>

<h5>Your account has been successfully created. Click <a asp-action="index" asp-controller="home">here</a> to start shopping</h5>