/* CART PAGE */

.cart-img-wrap {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

    .cart-img-wrap img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #fff;
    }

.cart-item-row:hover {
    background-color: #fafafa;
}

.cart-remove-btn {
    color: var(--sport-black);
    font-weight: 500;
}

    .cart-remove-btn:hover,
    .cart-remove-btn:focus {
        color: #dc3545; /* Bootstrap danger red */
        text-decoration: none;
    }


.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 768px) {
    .cart-img-wrap {
        width: 60px;
        height: 60px;
    }
}
